<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.png">

    <title>
        Remont
    </title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/boot.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/alertify.core.css" />
  <link rel="stylesheet" href="static/css/alertify.bootstrap.css" />
<!-- include a theme, can be included into the core instead of 2 separate files -->
<link rel="stylesheet" href="static/css/alertify.default.css" />

    <script src="static/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>



    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#home">REMONT</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
      <div ng-hide="!loggedIn"> <a href="/#/recycle" class="smoothScroll">Recycle</a></div>
      <a href="#about" class="smoothScroll">About</a>
      <div ng-hide="loggedIn"> <a href="/#/login" class="smoothscroll">Login</a></div>
			<div ng-hide="loggedIn"> <a href="/#/signup" class="smoothScroll">Signup</a></div>
      <div ng-hide="!loggedIn"> <a href="/#/logout" class="smoothScroll">Logout</a></div>
			<!--<a href="#contact" class="smoothScroll">Contact</a>-->
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>



    <div ng-view></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/angular.js"></script>
<script src="static/js/angular-route.js"></script>
<script type="text/javascript" src="static/js/ngStorage.min.js"></script>
<script type="text/javascript" src="static/js/angular-resource.js"></script>
	<script src="static/js/classie.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/alertify.min.js"></script>
	<script src="static/js/main.js"></script>
  <script src="static/js/app.js"></script>

</body>
</html>
